[submodule "/home/leonch/.config/hypr"]
	path = /home/leonch/.config/hypr
	url = git@github.com:quantumfate/hypr.git
[submodule ".scripts"]
	path = .scripts
	url = git@github.com:quantumfate/utilityscripts.git
[submodule ".fonts/nerd-fronts"]
	path = .fonts/nerd-fronts
	url = git@github.com:ryanoasis/nerd-fonts.git
[submodule "Office/ansible/arcomate"]
	path = Office/ansible/arcomate
	url = git@github.com:quantumfate/arcomate.git
[submodule ".config/hypr"]
	path = .config/hypr
	url = git@github.com:quantumfate/hypr.git
